{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <h2><center>points table</center></h2>
    <center>
        <table border="2px" width="700px" heigth="500px"
            <thead>
                <tr>
                    <td>s.no</td>
                    <td>t_name</td>
                    <td>win</td>
                    <td>loss</td>
                    <td>played</td>
                    <td>run_rate</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>india</td>
                    <td>3</td>
                    <td>1</td>
                    <td>4</td>
                    <td>0.0123</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>srilanka</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>-0.1128</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>pakisthan</td>
                    <td>3</td>
                    <td>2</td>
                    <td>5</td>
                    <td>0.0343</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>south africa</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0.8040</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>ireland</td>
                    <td>5</td>
                    <td>1</td>
                    <td>6</td>
                    <td>0.3540</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>england</td>
                    <td>3</td>
                    <td>1</td>
                    <td>4</td>
                    <td>0.0123</td>
                </tr>
            </tbody>

        </table>
    </center>
    
</body>
</html>